{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion !</h1>
    {# on créé un formulaire de login a la bootstrap ! #}
    {# on précise au formulaire ou il doit envoyer les informations, et on précise aussi dans quelle méthode - on donne une methode "post" et non "get" pour ne pas voir le Mot de passe  dans l"URL - on précise le meme chemin que pour la vérification du login dans security.yaml #}
    {# _username et _password: noms des champs pris en compte pour la connexion par Symfony #}
    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <input placeholder="Adresse email ..." required name="_username" type="text" class="form-control">

        </div>
        <div class="form-group">
                <input placeholder="Mot de passe ..." required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion !</button>
        </div>
    </form>

{% endblock %}