{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenu dans ce blog!</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsa ullam dolores quidem perspiciatis repellat rerum itaque consequatur provident quam hic tempora quis aliquam consectetur corporis eius repellendus voluptatum optio doloremque asperiores corrupti, enim maiores ipsum fuga. Accusamus, totam minus.</p>
    <p>Consequatur animi quos libero maiores perspiciatis inventore blanditiis earum atque debitis assumenda. Quaerat eligendi recusandae libero commodi vel a natus repellendus architecto officia debitis eius ad eaque eos quam, accusamus iure dignissimos nam, numquam ullam delectus minima odio similique! Accusantium.</p>

{% endblock %}